.btn-add {
    display: flex;
    justify-content: end;
    margin-top: 30px;
}

.input-add {
    display: flex;
    gap: 5px;
    justify-content: center;
    padding: 15px;
}

#qntd {
    max-width: 25px;
}

::placeholder {
    color: var(--cor-2);
}

#qntd::placeholder {
    text-align: center;
}

#categoria,
#item,
#valor,
#qntd,
.btn-add-item {
    background: var(--cor-0);
    padding: 10px;
    border-radius: 10px;
}

.btn-add-item {
    background: #00754A;
    color: #fff;
    cursor: pointer;
}

.btn-add-item:hover {
    opacity: 0.9;
}
