.header {
    max-width: 1440px;
    margin: 0 auto;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapper {
  border-radius: 50%;
  box-shadow: -2px -2px 4px 0px rgba(0, 0, 0, 0.01), -5px -5px 10px 0px rgba(255, 255, 255), 5px 5px 10px 0px rgba(174, 174, 192, 0.5);
}

.wrapper:hover {
  box-shadow: -2px -2px 4px 0px rgba(0, 0, 0, 0.01), -5px -5px 10px 0px rgba(255, 255, 255), 5px 5px 10px 0px rgba(174, 174, 192, 0.3);
}

.modal__content {
  border-radius: 10px;
  padding: 30px;
  background: #F0F0F3;
  box-shadow: -2px -2px 4px 0px rgba(0, 0, 0, 0.01), -5px -5px 10px 0px rgba(255, 255, 255, 0.2), 5px 5px 10px 0px rgba(174, 174, 192, 0.5);
}

.modal {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(77, 77, 77, 0.5);
  transition: all 0.4s;
}
 
.modal:target {
  visibility: visible;
  opacity: 1;
}

.content {
  border-radius: 4px;
  position: relative;
  width: 500px;
  max-width: 90%;
  padding: 1em 2em;
}

a.modal__close {
  display: flex;
  justify-content: end;
  color: #A3ADB2;
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
}

.modal__content h1 {
  font-family: 'Poppins', sans-serif;
  padding: 15px;
}
 
.modal__content p {
  font-family: 'Poppins', sans-serif;
  padding: 15px;
}