.navlist-itens {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    text-align: center;
    gap: 80px;
    margin-top: 115px;
}

.navlist-itens li {
    box-shadow: -2px -2px 4px 0px rgba(0, 0, 0, 0.01), -5px -5px 10px 0px var(--cor-0), 5px 5px 10px 0px rgba(174, 174, 192, 0.5);
    padding: 40px;
    background: var(--cor-1);
    border-radius: 20px;
    transition: 0.3s;
} 

.navlist-itens li:hover {
    box-shadow: -2px -2px 4px 0px rgba(0, 0, 0, 0.01), -5px -5px 10px 0px var(--cor-0), 5px 5px 10px 0px rgba(174, 174, 192, 0.3);
}

/* ----- media query 1200px ----- */

@media (max-width: 1200px) {
    .navlist-itens {
        gap: 30px;
        padding: 30px;
        margin-top: 80px;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;
    }
}
