/* ------ modal ------ */

.modal-lista,
.modal-add,
.listaCategoria {
  display: none;
}

.modal-lista.ativo,
.modal-add.ativo,
.listaCategoria.ativo {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(77, 77, 77, 0.5);
  transition: all 0.4s;
}

.modal-lista-container,
.modal-add-container,
.lista-container-categoria {
  width: 70vh;
  border-radius: 10px;
  padding: 30px 30px 35px;
  background: #f0f0f3;
  box-shadow: -2px -2px 4px 0px rgba(0, 0, 0, 0.01), 5px 5px 10px 0px rgba(174, 174, 192, 0.5);
}

/* ------ btn ------ */

.btn-close,
.btn-close-add,
.btn-close-categoria {
  display: flex;
  justify-content: end;
}

.btn-close button,
.btn-close-add button,
.btn-close-categoria button,
button.btn-remove {
  font-family: 'Poppins';
  font-size: 1.5rem;
  font-weight: 700;
  color: #A3ADB2;
  cursor: pointer;
}

.btn-close button:hover,
.btn-close-add button:hover,
.btn-close-categoria button:hover,
button.btn-remove:hover {
  color: #677278;
}

button.btn-remove {
  color: brown;
}

/* ------ lista completa ------ */

.lista-container,
.lista-container-categoria {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 1fr;
  max-height: 500px;
  overflow-y: auto;
}

.table {
  font-family: 'Poppins', sans-serif;
  color: #677278;
  text-align: center;
  font-size: 0.9rem;
}

.table th {
  position: sticky;
  top: 0;
  z-index: 2;
  background: #f0f0f3;
  box-shadow: 0 1px 0 0 #ddd;
  font-size: 1.25rem;
}

#listaCompleta td,
#listaCategoria td {
  border-bottom: 1px solid #dee2e6;
}

tfoot#total,
tfoot#total-categoria {
  text-align: center;
}

tfoot#total th,
tfoot#total-categoria th {
  text-align: end;
  box-shadow: none;
  font-size: 1rem;
}
