* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background: #F0F0F3;
}

img {
    max-width: 100%;
    display: block;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.header {
    max-width: 1440px;
    margin: 0 auto;
    display: grid;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-menu {
    background: transparent;
    cursor: pointer;
}

.navbar {
    display: none;
}

.navbar.ativo {
    display: flex;
    flex-direction: column;
    background: #F0F0F3;
    box-shadow: 5px 5px 20px 0px rgba(174, 174, 192, 0.50), -5px -5px 20px 0px #FFF;
    padding: 35px 34px;
    text-align: center;
    border-radius: 10px;
    position: fixed;
    animation: slideDown .5s forwards;
    left: 80%;
}

@keyframes slideDown {
  from {
    opacity: 0;
    max-height: 0;
  }
  to {
    max-height: 200px;
    opacity: 1;
  }
}

.navigation .navbar {
  opacity: 0;
  transform: translate3d(-30px, 0, 0);
  transition: .3s;
}

.navigation .navbar.ativo {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.navbar li + li {
    margin-top: 10px;
}

.navbar a {
color: #677278;
font-family: Poppins;
font-size: 14px;
font-weight: 400;
line-height: 13px; /* 92.857% */
}

.navbar a:hover {
    color: #00754A;
}

/* media query 800px */

@media (max-width: 800px) {
    .navbar.ativo {
        left: 50%;
    }
}